<%- include('../partials/header', {title: 'AllNotes'})%>

<div class="container-lg"> 
    <h1 class="text-white text-center mt-4">My Notes</h1>   
    <% newNote.forEach(function(note) { %>     
        <ul class="d-inline-flex justify-content-between flex-row mt-3">
            
                <li>
                    <div class="card text-dark bg-ligh mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><%= note.title%> <a href="/api/v1/notes-edit/<%= note._id%>" class="card-link text-success"><i class="fa-solid fa-pen-to-square"></i></a></h5>                  
                            <p class="card-text"><%= note.description%></p>                           
                          </div>
                          <form action="/api/v1/notes/<%= note._id%>?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-block btn-danger btn-sm w-100">
                                <i class="fa-solid fa-trash-can "> Delete</i>
                              </button>
                          </form>
                    </div>                 
                        
                      
                </li>
                
                
            </ul>
                <% }); %>    
</div>

<%- include('../partials/footer')%>